* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70vw;
    height: 80vh;
    border-radius: 23px;
    box-shadow: 0px 5px 15px -2px black;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s ease-out;
    display: none;
}

.image {
    width: 100%;
    height: 100%;
    aspect-ratio: auto;
    user-select: none;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 46%;
    width: fit-content;
    color: black;
    font-weight: 700;
    font-size: 20px;
    background: #e1d5d585;
    padding: 6px 20px;
    backdrop-filter: blur(3px);
    border-radius: 5px;
}

.prev,
.next {
    border-radius: 999px;
    width: 60px;
    height: 60px;
    border: none;
    background: #f3eaea8c;
    font-family: cursive;
    cursor: pointer;
    transition: all 0.1s ease-out;
    opacity: 0.5;
    top: 44%;
}

.prev:hover,
.next:hover {
    background: #ebe7e7a3;
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 20px -8px black;
}

.prev {
    position: absolute;
    left: 2pc;
}

.next {
    position: absolute;
    right: 2pc;
}

.container:hover .prev,
.container:hover .next {
    opacity: 1;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}